*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(110, 110, 110);
    color: white;
    height: 100vh;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  

  .container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.4fr 9fr;
    grid-template-areas: 
    'header header'
    'sidebar main';
    height: 100vh;
    width: 100vw;
  }


  .header{
    grid-area: header;
    height: 100%;
    /* background-color: aqua; */
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

  }

  .sidebar{
    grid-area: sidebar;
    /* background-color: bisque; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
      
  }


  .main{
    grid-area: main;
    /* background-color: blue; */
    height: 100%;
    width: 100%;

    position: relative; /* This is necessary to position the button relative to this container */
    border: 1px solid #ccc;
  }


  ul{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    cursor: pointer;
  }

  li{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.42rem;
    text-align: center;
  }


  hr{
    margin: 20px 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
    width: 100%;
  }



  .btn{
    background-color: #BAFF39;
    color: black;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
  }

  .project-btn{
    padding: 8px;
    font-size: 1.42rem;
    margin: 0px auto;
    width: 100%;
    font-size: 1.42rem;
    cursor: pointer;
  }



  .task-btn{
    position: absolute; /* Absolute positioning for the button */
    bottom: 10px; /* Adjust the value as needed for spacing from the bottom */
    right: 10px;
    padding: 10px;
    font-size: 1.42rem;
    width: 15%;
    cursor: pointer;
  }


  #modal,#task-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }


  .modal-content {
    background-color: yellowgreen;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
  }
  
  .close-modal,.project-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .modal label,.task-modal label {
    margin-bottom: 10px;
    color: white;
    margin-right: 10px;
  }
  
  .modal label, .task-modal label{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   h1{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: black;
   }

  input{
    margin-bottom: 0px;
    padding: 0px;
  }

  #ImportantCheckbox{
    width: 20px;
    height: 20px;
    text-align: center; 
  }
  
  
  .form-container{  
    margin-top: 10px;
    align-items: center;
    
   }

   .form-container > :first-child{
    margin-right: 10px;
   }


   .selected{
    background-color: rgba(255, 255, 255, 0.5);
   }

   .task{
      /* background-color: wheat; */
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-height:75px;
      align-items: center;
      padding: 20px;
   }

   .lessDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   }

   .taskList{
    height: 100%;
    width: 100%;
    padding: 5px;
   }

   .lessDetail input{
    margin-bottom: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
  }

  .task:hover{
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* .editGrid{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f9f9f9;
  }

  .editGrid.active{
    max-height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
  } */





/* editForm styling */

.task-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    grid-template-areas: 
    'name date'
    'time important'
    'edit delete';
}

.task-item input, .task-item button{
  padding: 10px;
  width: 80%;
  height: 30px;
}


.task-item button{
  height: 3rem;
}


.task-name {
    grid-area: name;
}

.task-date{
  grid-area: date;
}

.task-item{
  grid-area: time;
}

.task-delete{
  grid-area: delete;
}

.task-edit{
  grid-area: edit;
}

.task-date, .task-time, .task-important, .task-edit, .task-delete {
    width: 100%;
}

.task-important {
    display: flex;
    align-items: center;
    grid-area: important;
}

.task-important input {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.active{
  display: none;
}

.editContainer{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1rem;
}


.important{
  border: 2px solid #BAFF39;
}

/* li:active{
  background-color: rgba(255, 255, 255, 0.5);
} */